body {
  background: #f8fafd;
  font-family: "Inter", sans-serif;
  color: #252525;
  padding: 2rem;
}

main {
  margin: 0 auto;
  max-width: 60vw;
  width: 60vw;
}

.hero {
  text-align: center;
  padding-bottom: 3rem;
}

.hero .title {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.hero .subtitle {
  font-size: 1.125rem;
  color: #828282;
}

.box {
  background: #fff;
  box-shadow: 0 1px 4px rgba(132, 148, 165, 0.2);
  border-radius: 8px;
  margin-bottom: 3rem;
}

.box .password {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

.password .text {
  flex: 1;
}

.password .text input {
  font-family: "Inconsolata", sans-serif;
  font-size: 3rem;
  width: 100%;
  border: none;
  outline: none;
  cursor: default;
  height: 50px;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.password .text input.font-xxs {
  font-size: 1rem;
}
.password .text input.font-sm {
  font-size: 2rem;
}

.password .text input.font-xs {
  font-size: 1.5rem;
}
.password .actions button {
  background: none;
  border: none;
  cursor: pointer;
  color: #8b8a8a;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.password .actions button:hover {
  opacity: 1;
}

.password .actions i {
  font-size: 1.5rem;
}

.security-indicator {
  height: 10px;
  background: #ddd;
  border-radius: 0 0 8px 8px;
}

.security-indicator .bar {
  height: 10px;
  border-radius: 0 8px 8px 8px;
  transition: all 0.2s ease-in-out;
}
.security-indicator .bar.completed {
  border-top-right-radius: 0;
}
.security-indicator .bar.critical {
  background-color: #eb5757;
}
.security-indicator .bar.warning {
  background-color: #f2c94c;
}
.security-indicator .bar.safe {
  background-color: #27ae60;
}

.customize {
  padding: 1rem 1.5rem;
}

.customize .title {
  border-bottom: 1px solid #f0f0f0;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 2rem;
  padding-bottom: 0.75rem;
}

.customize .actions {
  display: flex;
  gap: 3rem;
  color: #828282;
}

.customize .password-length {
  flex: 1;
}

.customize .password-length input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  height: 10px;
  background: #dddddd;
  outline: none;
  border-radius: 8px;
  width: 100%;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
  margin-top: 1rem;
}

.customize .password-length input[type="range"]:hover {
  opacity: 1;
}

.customize .password-length input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 25px;
  background: #9b51e0;
  cursor: pointer;
}

.customize .password-length input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 25px;
  background: #9b51e0;
  cursor: pointer;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #dddddd;
  transition: all 0.2s ease-in-out;
}

.checkbox-container:hover input ~ .checkmark {
  background: #cccccc;
}

.checkbox-container .checkmark::after {
  content: "";
  display: none;
  position: absolute;
  left: 9px;
  top: 3px;
  width: 5px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-container input:checked ~ .checkmark {
  background: #9b51e0;
}

.checkbox-container input:checked ~ .checkmark::after {
  display: block;
}

@media screen and (max-width: 480px) {
  .password .text input {
    font-size: 1.7rem;
  }
  .password .text input.font-xxs {
    font-size: 1rem;
  }
  .password .text input.font-xs {
    font-size: 1.3rem;
  }
  .password .text input.font-sm {
    font-size: 1.5rem;
  }

  .customize .actions {
    flex-direction: column;
  }
}
